
.nav-link-custom {
    text-decoration: none;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    transition: color 0.3s ease;
    color: #fff;
  }
  
  .nav-link-custom:hover {
    color: #5856D6; /* Cor de fundo do NavBar */
  }
  
.btn-link-custom {
    text-decoration: none;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    transition: color 0.3s ease;
    color: #fff;
  }
  
  .btn-link-custom:hover {
    color: #5856D6; /* Cor de fundo do NavBar */
  }

#hire-me {
  text-decoration: none;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #5856D6;
  border-bottom: 2px solid #4947b0;
  border-right: 2px solid #4947b0;
}

#hire-me:hover {
  background-color  : #4947b0;
  border-bottom: 2px solid #2c2b69;
  border-right: 2px solid #2c2b69;
}